/* Resetting default margin and padding for the entire page */
body {
  margin: 0;
  padding: 0;
}

/* Adding a z-index to the navigation bar to control stacking order */
nav {
  /* z-index: 15px; */
}

/* Styling for map containers */
#map,
#searchmap {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
}

/* Styling for Mapbox popups */
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Styling for the main icon */
.main_icon {
  width: 80px;
}

/* Styling for the form input section */
.form_input_section {
  background: blanchedalmond url("../images/background.png") center no-repeat;
  height: 235px;
  padding: 41px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Styling for form elements within the form input section */
.form_input_section form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_field {
  width: 60%;
}

.form_field label {
  text-align: center;
  display: block;
  font-size: 30px;
}

/* Styling for form button */
.form_field button {
  margin: 20px auto;
  display: block;
}

/* Styling for the restaurant section */
.restaurant_section {
  padding: 60px 0;
}

/* Styling for restaurant cards */
.restaurant_card {
  border: 1px solid #cfcfcf;
  margin: 10px 0;
}

/* Styling for images within restaurant cards */
.restaurant_card img {
  width: 100%;
}

/* Styling for the body of restaurant cards */
.restaurant_body {
  padding: 20px 10px;
}

/* Styling for text within the body of restaurant cards */
.restaurant_body h3,
.restaurant_body p {
  margin: 0; /* Remove default margin for better spacing */
}

/* Styling for input within the body of restaurant cards */
.restaurant_body input {
  width: 100%;
  border: 1px solid #cfcfcf;
}

/* Styling for feedback text */
.feedback_text {
  font-weight: bold;
}
